{% load staticfiles %}
<html>
<body>
<head>
	<title>Viva - Energia Solar</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="page-logo center">
                  <img src="{% static 'images/index.jpg' %}" class="img-responsive" />
                </div>
				{% if form %}
					<form  method="POST" class="login100-form validate-form">
						{% csrf_token  %}
						<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
							<span class="label-input100">Usuário</span>
							{{ form.username }}
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
							<span class="label-input100">Senha</span>
							{{form.password }}
							<span class="focus-input100"></span>
						</div>
						<div class="container-login100-form-btn">
							<button class="login100-form-btn">
								Entrar
							</button>
						</div>
					</form>
				{% endif %}
			</div>
		</div>
	</div>
</body>
</html>
