{% extends "layout/base.html" %}
{% load static bootstrap3 core %}
{% block head_stylesheet %}
<link rel="stylesheet" href="{% static 'css/grupo.css' %}">
{% endblock head_stylesheet %}

{% block content %}
<div class="detail-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <div class="section-bar">
          <h1 class="title">{{ page_title }}: {{ grupo.id }}</h1>
        </div>
        <table class="table table-bordered table-striped">
          <tr>
            <td><strong>Nome:</strong><br> {{ grupos.nome|default:"Não informado" }}</td>
            <td><strong>Tipo:</strong><br> {{ grupos.tipo|default:"Não informado" }}</td>
            <td><strong>Líder:</strong><br> {{ grupos.lider|default:"Não informado" }}</td>
            <td><strong>Perfil:</strong><br> {{ grupos.perfil|default:"Não informado" }}</td>
            <td><strong>Data Abertura:</strong><br> {{ grupos.data_abertura|default:"Não informado" }}</td>
          </tr>
          <tr>
             <td><strong>Logradouro:</strong><br> {{ grupos.logradouro|default:"Não informado" }}</td>
             <td><strong>Número:</strong><br> {{ grupos.numero|default:"Não informado" }}</td>
             <td><strong>Bairro:</strong><br> {{ grupos.bairro|default:"Não informado" }}</td>
             <td><strong>Cidade:</strong><br> {{ grupos.cidade|default:"Não informado" }}</td>
             <td><strong>UF:</strong><br> {{ grupos.uf|default:"Não informado" }}</td>
          </tr>
            <tr>
             <td><strong>Dia do Encontro:</strong><br> {{ grupos.dia_semana|default:"Não informado" }}</td>
             <td colspan="4"><strong>Turno:</strong><br> {{ grupos.turno|default:"Não informado" }}</td>
          </tr>
        </table>
      </div>
    </div>
      <div class="form-row">
        <div class="form -btn-actions col">
          <a href="{% url 'grupos:grupos_index' %}" class="btn btn-default"><< Voltar</a>
        </div>
      </div>
  </div>
</div>
{% include "util/paginator.html" %}
{% endblock %}