{% if breadcrumbs|length > 0 %}
  <div class="container-fluid">
    <div class="col">
      <div class="row">
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            {% for item in breadcrumbs %}
              {% if item == breadcrumbs|last %}
                <li class="breadcrumb-item {% if item == breadcrumbs|last %} active {% endif %}">{{item.1}}</li>
              {% else %}
                <li class="breadcrumb-item"><a href="{{item.0}}">{{item.1}}</a></li>
              {% endif %}
            {% endfor %}
          </ol>
        </nav>
      </div>
    </div>
  </div>
{% endif %}
