{% load core %}

{% if is_paginated %}
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <nav class="paginator">
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a href="?page={{ page_obj.previous_page_number }}&{{ request.META.QUERY_STRING|get_url_params }}" class="page-link">
                <span>Anterior</span>
              </a>
            </li>
          {% else %}
            <li class="disabled">
              <a href="" class="page-link">
                <span>Anterior</span>
              </a>
            </li>
          {% endif %}

          {% for page in paginator|normalize_paginator:page_obj %}
            <li {% if page == page_obj.number %}class="page-item active"{% endif %}>
              <a href="?page={{ page }}&{{ request.META.QUERY_STRING|get_url_params }}" class="page-link">{{ page }}</a>
            </li>
          {% endfor %}

          {% if page_obj.has_next %}
            <li class="page-item">
              <a href="?page={{ page_obj.next_page_number }}&{{ request.META.QUERY_STRING|get_url_params }}" class="page-link">
                <span>Próxima</span>
              </a>
            </li>
          {% else %}
            <li {% if not page_obj.has_next %}class="page-item disabled"{% endif %}>
              <a href="#" class="page-link">
                <span>Próxima</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
{% endif %}
