{% extends "layout/base.html" %}
{% load static bootstrap3 core %}
{% block head_stylesheet %}
<link rel="stylesheet" href="{% static 'css/agenda.css' %}">
{% endblock head_stylesheet %}

{% block content %}
<div class="detail-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <div class="section-bar">
          <h1 class="title">{{ page_title }}: {{ agenda.id }}</h1>
        </div>
        <table class="table table-bordered table-striped">
          <tr>
            <td><strong>Título:</strong><br> {{ agenda.titulo|default:"Não informado" }}</td>
            <td><strong>Local:</strong><br> {{ agenda.local|default:"Não informado" }}</td>
            <td><strong>Instituição:</strong><br> {{ agenda.instituicao|default:"Não informado" }}</td>
            <td><strong>Responsável:</strong><br> {{ agenda.responsavel|default:"Não informado" }}</td>
            <td><strong>Descrição:</strong><br> {{ agenda.descricao|default:"Não informado" }}</td>
          </tr>
            <tr>
             <td colspan="2"><strong>Data e Horário:</strong><br>
                 De {{ agenda.data_inicial|date:"d/m/Y" }} às {{ agenda.horario_entrada|default:"Não informado" }} até
                 {{ agenda.data_final|date:"d/m/Y" }} às {{ agenda.horario_saida|default:"Não informado" }}
             </td>
                <td><strong>Tipo:</strong><br> {{ agenda.reuniao|default:"Não informado" }}</td>
                <td><strong>Aberto:</strong><br> {{ agenda.aberto_publico|default:"Não informado" }}</td>
                <td><strong>Contato:</strong><br> {{ agenda.telefone|default:"Não informado" }}</td>
          </tr>
        </table>
      </div>
    </div>
      <div class="form-row">
        <div class="form -btn-actions col">
          <a href="{% url 'agenda:agenda_index' %}" class="btn btn-default"><< Voltar</a>
        </div>
      </div>
  </div>
</div>
{% include "util/paginator.html" %}
{% endblock %}