{% load static bootstrap3 core %}

{% bootstrap_form_errors form error_types="non_field_errors" %}

{{ form.media.css }}
<div class="form-row">
  <div class="col-4">
    {% bootstrap_field form.titulo required_css_class="required" %}
  </div>
    <div class="col-4">
    {% bootstrap_field form.local required_css_class="required" %}
  </div>
  <div class="col-4">
    {% bootstrap_field form.instituicao required_css_class="required" %}
  </div>
</div>
<div class="form-row">
  <div class="col-4">
    {% bootstrap_field form.responsavel required_css_class="required" %}
  </div>
  <div class="col-8">
    {% bootstrap_field form.descricao required_css_class="required" %}
  </div>
</div>
<div class="form-row">
  <div class="col-3">
    {% bootstrap_field form.data_inicial required_css_class="required" %}
  </div>
   <div class="col-3">
    {% bootstrap_field form.horario_entrada required_css_class="required" %}
  </div>
    <div class="col-3">
    {% bootstrap_field form.data_final required_css_class="required" %}
  </div>
  <div class="col-3">
    {% bootstrap_field form.horario_saida required_css_class="required" %}
  </div>
</div>
<div class="form-row">
    <div class="col-4">
    {% bootstrap_field form.aberto_publico required_css_class="required" %}
  </div>
    <div class="col-4">
    {% bootstrap_field form.telefone required_css_class="required" %}
  </div>
  <div class="col-4">
    {% bootstrap_field form.reuniao required_css_class="required" %}
  </div>
</div>
{{ form.media.js }}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
{% endblock extra_js %}