{% extends "layout/base.html" %}
{% load static bootstrap3 core %}
{% block head_stylesheet %}
<link rel="stylesheet" href="{% static 'css/instituicao.css' %}">
{% endblock head_stylesheet %}

{% block content %}
<div class="detail-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <div class="section-bar">
          <h1 class="title">{{ page_title }}: {{ instituicao.id }}</h1>
        </div>
        <table class="table table-bordered table-striped">
          <tr>
            <td><strong>CNPJ:</strong><br> {{ instituicao.cnpj|default:"Não informado" }}</td>
            <td><strong>Razão Social:</strong><br> {{ instituicao.razao_social|default:"Não informado" }}</td>
            <td><strong>Natureza Jurídica:</strong><br> {{ instituicao.natureza_juridica|default:"Não informado" }}</td>
            <td><strong>Data de Fundação:</strong><br> {{ instituicao.data_fundacao|default:"Não informado" }}</td>
            <td><strong>Responsável:</strong><br> {{ instituicao.responsavel|default:"Não informado" }}</td>
          </tr>
          <tr>
             <td><strong>Telefone:</strong><br> {{ instituicao.telefone|default:"Não informado" }}</td>
             <td><strong>Logradouro:</strong><br> {{ instituicao.logradouro|default:"Não informado" }} - {{ instituicao.numero }}</td>
             <td><strong>Bairro:</strong><br> {{ instituicao.bairro|default:"Não informado" }}</td>
             <td><strong>Cidade:</strong><br> {{ instituicao.cidade|default:"Não informado" }}</td>
             <td><strong>UF:</strong><br> {{ instituicao.uf|default:"Não informado" }}</td>
          </tr>
        </table>
      </div>
    </div>
      <div class="form-row">
        <div class="form -btn-actions col">
          <a href="{% url 'instituicoes:instituicao_index' %}" class="btn btn-default"><< Voltar</a>
        </div>
      </div>
  </div>
</div>
{% include "util/paginator.html" %}
{% endblock %}