{% load static bootstrap3 core %}

{% bootstrap_form_errors form error_types="non_field_errors" %}

{{ form.media.css }}
<div class="form-row">
  <div class="col-4">
    {% bootstrap_field form.cnpj required_css_class="required" %}
  </div>
  <div class="col-4">
    {% bootstrap_field form.razao_social required_css_class="required" %}
  </div>
  <div class="col-4">
    {% bootstrap_field form.natureza_juridica required_css_class="required" %}
  </div>
</div>
<div class="form-row">
  <div class="col-4">
    {% bootstrap_field form.data_fundacao required_css_class="required" %}
  </div>
    <div class="col-5">
    {% bootstrap_field form.responsavel required_css_class="required" %}
  </div>
  <div class="col-3">
    {% bootstrap_field form.telefone required_css_class="required" %}
  </div>
</div>
<div class="form-row">
   <div class="col-3">
    {% bootstrap_field form.cep required_css_class="required" %}
  </div>
  <div class="col-5">
    {% bootstrap_field form.logradouro required_css_class="required" %}
  </div>
  <div class="col-2">
    {% bootstrap_field form.numero required_css_class="required" %}
  </div>
  <div class="col-2">
    {% bootstrap_field form.complemento required_css_class="required" %}
  </div>
</div>
<div class="form-row">
  <div class="col-5">
    {% bootstrap_field form.cidade required_css_class="required" %}
  </div>
  <div class="col-4">
    {% bootstrap_field form.bairro required_css_class="required" %}
  </div>
  <div class="col-3">
    {% bootstrap_field form.uf required_css_class="required" %}
  </div>
</div>
{{ form.media.js }}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/instituicao.js' %}"></script>
{% endblock extra_js %}