{% extends "layout/base.html" %}
{% load static bootstrap3 core %}

{% block head_stylesheet %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head_stylesheet %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <p class="last-login text-muted"><small>Último login: {{ last_login }}</small></p>
      <h1 class="display-5">Olá, <strong>{{ usuario }}</strong>!</h1>
      <p class="lead">Seja bem-vindo(a) ao Sistema de Administração EvChurch.</p>
      <hr class="my-4">
      <div class="row">
        <div class="col-md-9 text-help pt-4">
          <ul>
            <li>Na barra lateral estarão todos os módulos disponíveis para você;</li>
            <li>Para começar, basta clicar no módulo desejado;</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "util/paginator.html" %}
{% endblock %}
