{% load static bootstrap3 core %}

{% bootstrap_form_errors form error_types="non_field_errors" %}

{{ form.media.css }}
<div class="form-row">
  <div class="col-3">
    {% bootstrap_field form.tipo required_css_class="required" %}
  </div>
  <div class="col-3">
    {% bootstrap_field form.capacidade required_css_class="required" %}
  </div>
</div>
<div class="form-row">
    <div class="col-10">
    {% bootstrap_field form.descricao required_css_class="required" %}
  </div>
</div>
{{ form.media.js }}
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
{% endblock extra_js %}