{% extends "layout/base.html" %}
{% load static bootstrap3 core %}
{% block head_stylesheet %}
<link rel="stylesheet" href="{% static 'css/usuario.css' %}">
{% endblock head_stylesheet %}

{% block content %}
<div class="detail-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <div class="section-bar">
          <h1 class="title">{{ page_title }}: {{ usuario.id }}</h1>
        </div>
        <table class="table table-bordered table-striped">
          <tr>
            <td><strong>Nome:</strong><br> {{ usuario.nome|default:"Não informado" }}</td>
            <td><strong>Telefone:</strong><br> {{ usuario.telefone|default:"Não informado" }}</td>
            <td><strong>Email:</strong><br> {{ usuario.email|default:"Não informado" }}</td>
            <td><strong>Perfil:</strong><br> {{ usuario.perfil|default:"Não informado" }}</td>
            <td><strong>Telefone:</strong><br> {{ usuario.telefone|default:"Não informado" }}</td>
          </tr>
          <tr>
             <td><strong>Logradouro:</strong><br> {{ usuario.logradouro|default:"Não informado" }}</td>
             <td><strong>Número:</strong><br> {{ usuario.numero|default:"Não informado" }}</td>
             <td><strong>Bairro:</strong><br> {{ usuario.bairro|default:"Não informado" }}</td>
             <td><strong>Cidade:</strong><br> {{ usuario.cidade|default:"Não informado" }}</td>
             <td><strong>UF:</strong><br> {{ usuario.uf|default:"Não informado" }}</td>
          </tr>
        </table>
      </div>
    </div>
      <div class="form-row">
        <div class="form -btn-actions col">
          <a href="{% url 'usuarios:usuario_index' %}" class="btn btn-default"><< Voltar</a>
        </div>
      </div>
  </div>
</div>
{% include "util/paginator.html" %}
{% endblock %}